body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar{
  background-color:none;

}
.navbar-brand{
  font-size:1.9rem ;
  color:darkgray
}

.navbar li a{
  font-size:1.3rem;
  text-transform:capitalize;
}

.menu_active{
  font-weight:bold;
  border-bottom:darkgrey;
}

.navbar li a:hover{
  color:fuchsia;
}
.btn style{
width:12rem;
height:4rem;
border-radius:2rem;
color:#fff;
background-color: var(--primary-color);
text-transform:capitalize;

}
@media(max-width:991px){
  .navbar-brand{
    font-size:1.5rem;
  }

}
.menu_active{
  font-weight:bold;
  border-bottom:none;
}


#header{
  width:100%;
  height:80vh;
  margin-top:70px;

}
#header h1{
  margin:0 0 10px 0;
  font-size:medium;
  font-weight:700;
  color:black;
}

#header .btn-get-started{
  font-weight:500;
  font-size:16px;
  letter-spacing:normal;
  display:inline-block;
  padding:10px 30px;
  border-radius:50px;
  transition:0.5s;
  color:darkblue;
  border:2px solid #3c57f1;
  text-decoration: none;
  
}

#header .btn-get-started:hover{
  background: #2884c2;
  color:#fff;

}
.header-img{
  text-align:right ;
}

#header.animated{
  animation:up-down 2s ease-in-out infinite alternate-reverse both;
}